.add-project {
    position: fixed;
    bottom: 30px; /* Postavi gumb v spodnji desni kot */
    right: 30px; /* Postavi gumb v spodnji desni kot */
    width: 60px; /* Širina gumba */
    height: 60px; /* Višina gumba */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border: 2px solid #878895;
    border-radius: 50%; /* Okrogel gumb */
    background-color: #c42c3c; /* Ozadje gumba */
    cursor: pointer;
    opacity: 0.8; /* Malo prosojnosti */
    transition: all 0.3s ease; /* Animacija ob prehodu */
  }
  
  .add-project:hover {
    opacity: 1;
    transform: scale(1.1); /* Povečaj gumb ob premiku miške */
  }
  
  .add-project:active {
    transform: scale(0.95); /* Zmanjšaj gumb ob kliku */
  }
  