nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #c42c3c;
  color: white;
}

.left-menu {
  display: flex;
  align-items: center;
}

.home-icon {
  font-size: 24px;
  cursor: pointer;
}

.home-icon:hover{
  color: #e1fddfe1;
}

.right-menu {
  display: flex;
  align-items: center;
}

.sign-out {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

.sign-out:hover {
  color: #e1fddfe1;
}