.window-box {
    background-color: #f0f0f0b7; /* Light background for window */
    border-radius: 8px;
  }
  
  h3 {
    color: #c42c3c;
    margin-bottom: 20px;
  }
  
  .list-group-item{
    background-color: #ffffff; /* White background for list items */
    border: 1px solid #ddd; /* Light border */
  }
  
  .list-group-item:hover {
    background-color: #c42c3c;
    color: #ffffff;
  }
  
  button.btn {
    background-color: #c42c3c;
    color: white;
  }
  
  button.btn:hover {
    background-color: #a3222f;
  }